.header{
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    justify-content: space-around;
    padding-left: 100px;
    padding-right: 100px;
    align-items: center;
}
.header nav a{
    color: white;
    text-decoration: none;
    margin-left: 30px;
}
.header nav a:hover{
    color: orange;
}